body {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  border: 1px solid #e6e6e6;
  font-family: 'Î¢ÈíÑÅºÚ';
  //¶¥²¿Í¨À¸
  .banner {
    height: 50px;
    background-color: #ff841d;
    border-bottom: 1px solid #e6e6e6;
    .log {
      width: 75%;
      height: 50px;
      margin-left: 5px;
      a {
        display: block;
        width: 240px;
        height: 25px;
        padding: 12px;
        img {
          max-width: 186px;
          height: 25px;
        }
      }
    }
    .appdown {
      padding: 7px;
      a {
        display: block;
        img {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
  //ËÑË÷À¸
  .search {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e6e6e6;
    .search1 {
      height: 30px;
      margin: 9px 15px;
      line-height: 30px;
      input {
        border: none;
        line-height: 30px;
        border-radius: 15px;
        font-size: 16px;
      }
      > input:first-child {
        background-color: #f1f1f1;
        width: 78%;
        padding-left: 5%;
      }
      > input:last-child {
        width: 63px;
        background-color: #ff841d;
        color: #fff;
      }
    }
  }
  //µÇÂ¼¿ò
  .login {
    background-color: #f1f1f1;
    width: 100%;
    height: 260px;
    div {
      width: 100%;
      padding: 10px 10px 0;
    }
    .name {
      input {
        height: 36px;
        width: 100%;
        padding-left: 5px;
        font-size: 14px;
        line-height: 36px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top-color: #aaa;
      }
    }
    .pwd {
      input {
        height: 36px;
        width: 100%;
        font-size: 14px;
        line-height: 36px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top-color: #aaa;
      }
    }
    .submit{
      input{
        height: 40px;
        width: 100%;
        text-align: center;
        color:#fff;
        font-size: 20px;
        line-height: 40px;
        border-radius: 5px;
        background-color: #ff9000;
        border-bottom: 1px solid #bababa;
      }
    }
    p{
      height: 36px;
      line-height: 36px;
      padding-left: 10px;
      font-size: 14px;
      padding-top: 5px;
      color:#000;
      input{
        vertical-align: middle;
      }
    }
    .tip{
      padding: 40px 10px 0;
      font-size: 13px;
      color:#888;
    }
    .blank{
      width: 100%;
      height: 20px;
      background-color: #f1f1f1;
    }
  }
  //µ×²¿
  .foot{
    width: 100%;
    background-color: #EFEFEF;
    padding-top: 30px;
    padding-bottom: 140px;
    .foot-top{
      margin-top: 10px;
      width: 100%;
      height: 34px;
      line-height: 34px;
      border-top: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
      >a:nth-of-type(-n+2){
        box-sizing: border-box;
        float: left;
        width: 30%;
        text-align: center;
        font-size: 14px;
        border-right: 1px solid #c4c4c4;
      }
      >a:last-child{
        box-sizing: border-box;
        float: right;
        width: 40%;
        text-align: center;
        font-size: 14px;
        img{
          width: 15px;
          height: 15px;
          vertical-align: middle;
          margin-top: -5px;
          margin-right: 2px;
        }
      }
    }
    .footer{
      height: 60px;
      text-align: center;
      p{
        margin-top: 15px;
        margin-bottom: 0;
        >a:first-child{
          color:red;
        }
      }
    }
  }
}