.header1 {
  height: 50px;
  background: #ff841d;
  border-bottom: 1px solid #e6e6e6;
}
.header1 > .logo {
  padding: 12px;
}
.header1 > .logo > a {
  display: block;
  height: 100%;
}
.header1 > .logo > a img {
  max-height: 25px;
  overflow: hidden;
}
.header1 .appdown {
  padding: 7px;
}
.header1 .appdown img {
  max-height: 34px;
  overflow: hidden;
}
.search1 {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
  position: relative;
  background-color: white;
}
.search1 .searchtxt input {
  border: none;
  background: #f1f1f1;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 15px;
  width: 90%;
  padding-left: 5.5%;
}
.search1 .searchbtn input {
  border: none;
  width: 63px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  font-size: 16px;
  background: #ff841d;
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  right: 10px;
}
