.brief {
  padding: 5px;
  padding-bottom: 0;
}
.brief .briefin {
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #666;
}
.brief .briefin .fl_t > a {
  height: 40px;
  background: url(../../images/arrow1.gif) right center no-repeat;
  line-height: 40px;
  color: #000;
  font-size: 16px;
  display: block;
  padding-left: 21px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.brief .briefin .fl_t .fl_all {
  margin-left: -1px;
  background: #f9f9f9;
  border-bottom: 2px solid #888;
  margin-top: -1px;
  display: none;
}
.brief .briefin .fl_t .fl_all > div {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
  width: 33.33%;
  height: 40px;
  line-height: 40px;
}
.brief .briefin .fl_t .fl_all > div > a {
  display: block;
  width: 100%;
  color: #333;
}
