.container {
  width: 100%;
  max-width: 780px;
  min-width: 320px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 45px;
  background-color: #FF841D;
  display: inline-block;
  position: relative;
}
.header a > span {
  position: absolute;
  font-size: 30px;
  font-family: Consolas;
  line-height: 45px;
  display: inline-block;
  top: 0;
  left: 16px;
}
.header > h1 {
  width: 100%;
  font-size: 24px;
  display: inline-block;
  line-height: 45px;
  text-align: center;
  color: white;
}
.header a:nth-of-type(2) {
  display: block;
  width: 65px;
}
.header > .app {
  position: absolute;
  right: 10px;
  margin-left: 30px;
  height: 45px;
  top: 0;
}
.cu-content {
  margin-top: 15px;
}
.cu-content > .title span {
  font-size: 18px;
  font-weight: 900;
}
.cu-content > .title p {
  color: #FF450E;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
}
.cu-content .info {
  color: #666;
}
.cu-content .content {
  width: 100%;
}
.cu-content .content img {
  width: 90px;
  height: 90px;
}
.cu-content .content .conn > div {
  text-align: center;
  width: 720px;
  height: 260px;
  left: 50%;
  right: -130px;
}
.cu-content .content .conn p {
  line-height: 26px;
}
.cu-content .content .conn img {
  width: 260px;
  height: 260px;
  text-align: center;
}
.cu-content .pl {
  color: #1B79FF;
}
.cu-content .golink {
  height: 30px;
  width: 100%;
  line-height: 30px;
  border-radius: 4px;
  background-color: #FF9000;
  text-align: center;
}
.cu-content .golink a {
  padding-left: 100px;
  padding-right: 100px;
}
.download {
  z-index: 99;
  position: fixed;
  right: 10px;
  bottom: 50px;
}
.download img {
  width: 68px;
  height: 70px;
}
.line {
  border-bottom: solid #ddd 1px;
  border-top: solid #ddd 1px;
  height: 36px;
  line-height: 36px;
  background-color: #F3F3F3;
}
.footer_link {
  margin-top: 30px;
}
.footer_link a {
  background-color: #F3F3F3;
}
.footer {
  height: 65px;
  text-align: center;
  padding-top: 15px;
  background-color: #F3F3F3 ;
}
.footer span {
  color: #E92345;
}
.footer i,
.footer p {
  color: #666;
}
